# Imports

In [1]:
import pandas as pd
from datetime import datetime

# Load data

In [2]:
df = pd.read_csv('../data/ILEDA_anonymized.csv')
df

,Institution,Course,actor.id,timestamp,verb.id,verb.display,object.definition.name,object.definition.type,context,result.score.scaled,result.success,result.completion
0,UEF,Advanced Data Management Systems (THJ),aeb0c,2023-07-07T18:55:47Z,http://id.tincanapi.com/verb/viewed,viewed,Advanced Data Management Systems (THJ),http://id.tincanapi.com/activitytype/lms/course,UEF Moodle,NaN,False,False
1,UEF,Advanced Data Management Systems (THJ),aeb0c,2023-07-07T15:21:18Z,http://id.tincanapi.com/verb/viewed,viewed,Assignment Instructions: ER & EER,http://adlnet.gov/expapi/activities/link,UEF Moodle > Advanced Data Management Systems ...,NaN,False,False
2,UEF,Advanced Data Management Systems (THJ),aeb0c,2023-07-07T15:08:13Z,http://id.tincanapi.com/verb/viewed,viewed,Recording: Intro lecture,http://adlnet.gov/expapi/activities/link,UEF Moodle > Advanced Data Management Systems ...,NaN,False,False
3,UEF,Advanced Data Management Systems (THJ),aeb0c,2023-07-07T15:08:10Z,http://id.tincanapi.com/verb/viewed,viewed,Advanced Data Management Systems (THJ),http://id.tincanapi.com/activitytype/lms/course,UEF Moodle,NaN,False,False
4,UEF,Advanced Data Management Systems (THJ),aeb0c,2023-07-07T09:03:32Z,http://id.tincanapi.com/verb/viewed,viewed,Advanced Data Management Systems (THJ),http://id.tincanapi.com/activitytype/lms/course,UEF Moodle,NaN,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
306740,BMU,IT131,2db36,2023-06-16T16:52:55Z,http://adlnet.gov/expapi/verbs/scored,attained grade for,Lekcija 7 - IP adresiranje i sabnetovanje - Tr...,http://adlnet.gov/expapi/activities/assessment,LAMS > 220870,1.0,True,True
306741,BMU,IT131,fc5fe,2023-06-16T17:58:19Z,http://adlnet.gov/expapi/verbs/scored,attained grade for,Lekcija 8 - Transportni sloj - Tradicionalna n...,http://adlnet.gov/expapi/activities/assessment,LAMS > 221218,1.0,True,True
306742,BMU,IT131,d0f73,2023-06-16T17:08:43Z,http://adlnet.gov/expapi/verbs/scored,attained grade for,Lekcija 9 - Principi rada TCP protokola - Trad...,http://adlnet.gov/expapi/activities/assessment,LAMS > 221910,0.2,True,True
306743,BMU,IT131,dfea0,2023-06-16T17:43:28Z,http://adlnet.gov/expapi/verbs/scored,attained grade for,IT131 - L04 (638138597640325722 - Tradicionalno),http://adlnet.gov/expapi/activities/assessment,LAMS > 219720,1.0,True,True
306744,BMU,IT131,7f889,2023-06-09T16:23:38Z,http://adlnet.gov/expapi/verbs/answered,answered,IT131-T02-Pitanje 15,http://adlnet.gov/expapi/activities/cmi.intera...,LAMS > test > Pitanje 15 > Attempt,0.0,False,True

# Duplicate values

In [3]:
(df.shape)

(306745, 12)

In [4]:
df.shape[0] - df.drop_duplicates().shape[0]

7454

There are 7454 duplicate rows in the dataset, which we have to drop.

In [5]:
df.drop_duplicates(inplace=True)
df.shape

(299291, 12)

# Dataset statistics

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 299291 entries, 0 to 306739
Data columns (total 12 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Institution             299291 non-null  object
 1   Course                  299291 non-null  object
 2   actor.id                299291 non-null  object
 3   timestamp               299291 non-null  object
 4   verb.id                 299291 non-null  object
 5   verb.display            299291 non-null  object
 6   object.definition.name  299291 non-null  object
 7   object.definition.type  299291 non-null  object
 8   context                 299291 non-null  object
 9   result.score.scaled     11558 non-null   float64
 10  result.success          299291 non-null  bool
 11  result.completion       299291 non-null  bool
dtypes: bool(2), float64(1), object(9)
memory usage: 25.7+ MB

In [7]:
df.describe(include='all')

,Institution,Course,actor.id,timestamp,verb.id,verb.display,object.definition.name,object.definition.type,context,result.score.scaled,result.success,result.completion
count,299291,299291,299291,299291,299291,299291,299291,299291,299291,11558.00000,299291,299291
unique,4,8,829,245548,10,10,1549,15,189,NaN,2,2
top,UEF,Ihminen ja vuorovaikutteinen teknologia,76d01,2023-06-04T23:09:00Z,http://id.tincanapi.com/verb/viewed,viewed,Ihminen ja vuorovaikutteinen teknologia,http://id.tincanapi.com/activitytype/lms/course,UEF Moodle > Ihminen ja vuorovaikutteinen tekn...,NaN,False,False
freq,153290,134855,6255,67,229721,229721,34133,102682,45880,NaN,266458,257343
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.78472,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35866,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.70000,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,NaN,NaN

In [8]:
df.groupby(df.columns.tolist(), as_index=False).size()

,Institution,Course,actor.id,timestamp,verb.id,verb.display,object.definition.name,object.definition.type,context,result.score.scaled,result.success,result.completion,size
0,BMU,CS120,05aba,2023-03-18T18:55:20Z,http://adlnet.gov/expapi/verbs/answered,answered,CS120-T01-Pitanje 20,http://adlnet.gov/expapi/activities/cmi.intera...,LAMS > test > Pitanje 20 > Attempt,0.000000,False,True,1
1,BMU,CS120,05aba,2023-03-18T18:55:20Z,http://adlnet.gov/expapi/verbs/answered,answered,CS120-T01-Pitanje 25,http://adlnet.gov/expapi/activities/cmi.intera...,LAMS > test > Pitanje 25 > Attempt,1.000000,True,True,1
2,BMU,CS120,05aba,2023-03-18T18:55:20Z,http://adlnet.gov/expapi/verbs/answered,answered,CS120-T01-Pitanje 28,http://adlnet.gov/expapi/activities/cmi.intera...,LAMS > test > Pitanje 28 > Attempt,1.000000,True,True,1
3,BMU,CS120,05aba,2023-03-18T18:55:20Z,http://adlnet.gov/expapi/verbs/answered,answered,CS120-T01-Pitanje 39,http://adlnet.gov/expapi/activities/cmi.intera...,LAMS > test > Pitanje 39 > Attempt,1.000000,True,True,1
4,BMU,CS120,05aba,2023-03-18T18:55:20Z,http://adlnet.gov/expapi/verbs/answered,answered,CS120-T01-Pitanje 4,http://adlnet.gov/expapi/activities/cmi.intera...,LAMS > test > Pitanje 4 > Attempt,1.000000,True,True,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11553,UL,ARQUITECTURA DE COMPUTADORES,fa4d0,2023-06-01T16:59:31Z,http://adlnet.gov/expapi/verbs/completed,completed,Lab#6 Defense G4,http://xapi.jisc.ac.uk/activities/quiz,New Site > ARQUITECTURA DE COMPUTADORES - Grad...,0.560000,True,True,1
11554,UL,ARQUITECTURA DE COMPUTADORES,fa4d0,2023-06-02T10:47:07Z,http://adlnet.gov/expapi/verbs/scored,attained grade for,Lab Assignment #6,http://adlnet.gov/expapi/activities/assessment,New Site > ARQUITECTURA DE COMPUTADORES - Grad...,0.560000,True,True,1
11555,UL,ARQUITECTURA DE COMPUTADORES,fa4d0,2023-06-07T09:15:26Z,http://adlnet.gov/expapi/verbs/completed,completed,Defence quizz lab Assignment #4,http://xapi.jisc.ac.uk/activities/quiz,New Site > ARQUITECTURA DE COMPUTADORES - Grad...,0.708333,True,True,1
11556,UL,ARQUITECTURA DE COMPUTADORES,fee26,2023-02-23T17:11:26Z,http://adlnet.gov/expapi/verbs/completed,completed,Initial evaluation quizz lab assignment #1,http://xapi.jisc.ac.uk/activities/quiz,New Site > ARQUITECTURA DE COMPUTADORES - Grad...,0.333333,True,True,1
11557,UL,ARQUITECTURA DE COMPUTADORES,fee26,2023-06-02T10:44:09Z,http://adlnet.gov/expapi/verbs/scored,attained grade for,Lab Assignment #6,http://adlnet.gov/expapi/activities/assessment,New Site > ARQUITECTURA DE COMPUTADORES - Grad...,0.000000,True,True,1

# Columns

## Verb

In [9]:
df['verb.id'].value_counts()

verb.id
http://id.tincanapi.com/verb/viewed           229721
http://adlnet.gov/expapi/verbs/answered        33546
http://adlnet.gov/expapi/verbs/completed       18224
http://activitystrea.ms/schema/1.0/receive      6582
http://activitystrea.ms/schema/1.0/start        4400
http://adlnet.gov/expapi/verbs/scored           4236
http://activitystrea.ms/schema/1.0/submit       1481
http://activitystrea.ms/schema/1.0/create        931
http://activitystrea.ms/schema/1.0/join          136
http://activitystrea.ms/schema/1.0/leave          34
Name: count, dtype: int64

In [10]:
df['verb.id'] = df['verb.id'].str.split('/').str[-1]

In [11]:
df

,Institution,Course,actor.id,timestamp,verb.id,verb.display,object.definition.name,object.definition.type,context,result.score.scaled,result.success,result.completion
0,UEF,Advanced Data Management Systems (THJ),aeb0c,2023-07-07T18:55:47Z,viewed,viewed,Advanced Data Management Systems (THJ),http://id.tincanapi.com/activitytype/lms/course,UEF Moodle,NaN,False,False
1,UEF,Advanced Data Management Systems (THJ),aeb0c,2023-07-07T15:21:18Z,viewed,viewed,Assignment Instructions: ER & EER,http://adlnet.gov/expapi/activities/link,UEF Moodle > Advanced Data Management Systems ...,NaN,False,False
2,UEF,Advanced Data Management Systems (THJ),aeb0c,2023-07-07T15:08:13Z,viewed,viewed,Recording: Intro lecture,http://adlnet.gov/expapi/activities/link,UEF Moodle > Advanced Data Management Systems ...,NaN,False,False
3,UEF,Advanced Data Management Systems (THJ),aeb0c,2023-07-07T15:08:10Z,viewed,viewed,Advanced Data Management Systems (THJ),http://id.tincanapi.com/activitytype/lms/course,UEF Moodle,NaN,False,False
4,UEF,Advanced Data Management Systems (THJ),aeb0c,2023-07-07T09:03:32Z,viewed,viewed,Advanced Data Management Systems (THJ),http://id.tincanapi.com/activitytype/lms/course,UEF Moodle,NaN,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
306723,BMU,IT131,87441,2023-06-11T22:57:27Z,answered,answered,IT131-T05-Pitanje 13,http://adlnet.gov/expapi/activities/cmi.intera...,LAMS > test > Pitanje 13 > Attempt,1.000,True,True
306724,BMU,IT131,1c33c,2023-05-16T00:05:45Z,answered,answered,IT131-T03-Pitanje 15,http://adlnet.gov/expapi/activities/cmi.intera...,LAMS > test > Pitanje 15 > Attempt,0.000,False,True
306730,BMU,IT131,98607,2023-05-12T22:10:50Z,completed,completed,IT131-T03,http://adlnet.gov/expapi/activities/assessment,LAMS > test,0.375,True,True
306734,BMU,IT131,98607,2023-02-27T22:45:33Z,completed,completed,Lekcija 2 - Osnove umrežavanja - Tradicionalna...,http://id.tincanapi.com/activitytype/lms/module,LAMS > 217371,NaN,False,False
306739,BMU,IT131,00c5e,2023-06-01T21:23:16Z,answered,answered,IT131-T04-Pitanje 20,http://adlnet.gov/expapi/activities/cmi.intera...,LAMS > test > Pitanje 20 > Attempt,0.000,False,True

In [12]:
all(df['verb.id'].str.split('/').str[-1] == df['verb.display'])

False

In [13]:
df[df['verb.id'].str.split('/').str[-1] != df['verb.display']][['verb.id', 'verb.display']]

        verb.id        verb.display
74       scored  attained grade for
96       scored  attained grade for
97       scored  attained grade for
98       scored  attained grade for
99       scored  attained grade for
...         ...                 ...
306087    start             started
306278  receive            received
306292  receive            received
306398    start             started
306439    start             started

[17800 rows x 2 columns]

In [14]:
df[['verb.id', 'verb.display']].drop_duplicates()

          verb.id        verb.display
0          viewed              viewed
29      completed           completed
74         scored  attained grade for
714        submit           submitted
742        create             created
763       receive            received
892      answered            answered
906         start             started
153743       join              joined
153749      leave                left

Each ID corresponds to a single display.

In [15]:
df.drop(['verb.display'], axis=1, inplace=True)

In [16]:
df

,Institution,Course,actor.id,timestamp,verb.id,object.definition.name,object.definition.type,context,result.score.scaled,result.success,result.completion
0,UEF,Advanced Data Management Systems (THJ),aeb0c,2023-07-07T18:55:47Z,viewed,Advanced Data Management Systems (THJ),http://id.tincanapi.com/activitytype/lms/course,UEF Moodle,NaN,False,False
1,UEF,Advanced Data Management Systems (THJ),aeb0c,2023-07-07T15:21:18Z,viewed,Assignment Instructions: ER & EER,http://adlnet.gov/expapi/activities/link,UEF Moodle > Advanced Data Management Systems ...,NaN,False,False
2,UEF,Advanced Data Management Systems (THJ),aeb0c,2023-07-07T15:08:13Z,viewed,Recording: Intro lecture,http://adlnet.gov/expapi/activities/link,UEF Moodle > Advanced Data Management Systems ...,NaN,False,False
3,UEF,Advanced Data Management Systems (THJ),aeb0c,2023-07-07T15:08:10Z,viewed,Advanced Data Management Systems (THJ),http://id.tincanapi.com/activitytype/lms/course,UEF Moodle,NaN,False,False
4,UEF,Advanced Data Management Systems (THJ),aeb0c,2023-07-07T09:03:32Z,viewed,Advanced Data Management Systems (THJ),http://id.tincanapi.com/activitytype/lms/course,UEF Moodle,NaN,False,False
...,...,...,...,...,...,...,...,...,...,...,...
306723,BMU,IT131,87441,2023-06-11T22:57:27Z,answered,IT131-T05-Pitanje 13,http://adlnet.gov/expapi/activities/cmi.intera...,LAMS > test > Pitanje 13 > Attempt,1.000,True,True
306724,BMU,IT131,1c33c,2023-05-16T00:05:45Z,answered,IT131-T03-Pitanje 15,http://adlnet.gov/expapi/activities/cmi.intera...,LAMS > test > Pitanje 15 > Attempt,0.000,False,True
306730,BMU,IT131,98607,2023-05-12T22:10:50Z,completed,IT131-T03,http://adlnet.gov/expapi/activities/assessment,LAMS > test,0.375,True,True
306734,BMU,IT131,98607,2023-02-27T22:45:33Z,completed,Lekcija 2 - Osnove umrežavanja - Tradicionalna...,http://id.tincanapi.com/activitytype/lms/module,LAMS > 217371,NaN,False,False
306739,BMU,IT131,00c5e,2023-06-01T21:23:16Z,answered,IT131-T04-Pitanje 20,http://adlnet.gov/expapi/activities/cmi.intera...,LAMS > test > Pitanje 20 > Attempt,0.000,False,True

## Course

In [17]:
df[['Course', 'Institution']].drop_duplicates()

                                                   Course Institution
0                  Advanced Data Management Systems (THJ)         UEF
18463             Ihminen ja vuorovaikutteinen teknologia         UEF
153572  Проектиране на човеко-машинен интерфейс, летен...          SU
169434      Електронно обучение, летен семестър 2022/2023          SU
196531                       ARQUITECTURA DE COMPUTADORES          UL
271398                                   APLICACIONES WEB          UL
292147                                              CS120         BMU
300976                                              IT131         BMU

In [18]:
df['Course'].value_counts()

Course
Ihminen ja vuorovaikutteinen teknologia                              134855
ARQUITECTURA DE COMPUTADORES                                          74112
Електронно обучение, летен семестър 2022/2023                         26545
APLICACIONES WEB                                                      20699
Advanced Data Management Systems (THJ)                                18435
Проектиране на човеко-машинен интерфейс, летен семестър 2022/2023     15774
CS120                                                                  5263
IT131                                                                  3608
Name: count, dtype: int64

In [19]:
courses_dict = {
    'Ihminen ja vuorovaikutteinen teknologia': 'Human Factors of Interactive Technology',
    'Advanced Data Management Systems (THJ)': 'Advanced Data Management Systems',
    'Проектиране на човеко-машинен интерфейс, летен семестър 2022/2023': 'Human-computer interaction',
    'Електронно обучение, летен семестър 2022/2023': 'e-Learning',
    'ARQUITECTURA DE COMPUTADORES': 'Computer Architecture',
    'APLICACIONES WEB': 'Web Applications',
    'CS120': 'Computer Organization',
    'IT131': 'Computer Networks'
}

Note: BMU course name reference [here](https://www.metropolitan.ac.rs/files/2022/10/oas-informacione-tehnologije-2022.pdf)

In [20]:
df.replace({'Course': courses_dict}, inplace=True)

In [21]:
df

,Institution,Course,actor.id,timestamp,verb.id,object.definition.name,object.definition.type,context,result.score.scaled,result.success,result.completion
0,UEF,Advanced Data Management Systems,aeb0c,2023-07-07T18:55:47Z,viewed,Advanced Data Management Systems (THJ),http://id.tincanapi.com/activitytype/lms/course,UEF Moodle,NaN,False,False
1,UEF,Advanced Data Management Systems,aeb0c,2023-07-07T15:21:18Z,viewed,Assignment Instructions: ER & EER,http://adlnet.gov/expapi/activities/link,UEF Moodle > Advanced Data Management Systems ...,NaN,False,False
2,UEF,Advanced Data Management Systems,aeb0c,2023-07-07T15:08:13Z,viewed,Recording: Intro lecture,http://adlnet.gov/expapi/activities/link,UEF Moodle > Advanced Data Management Systems ...,NaN,False,False
3,UEF,Advanced Data Management Systems,aeb0c,2023-07-07T15:08:10Z,viewed,Advanced Data Management Systems (THJ),http://id.tincanapi.com/activitytype/lms/course,UEF Moodle,NaN,False,False
4,UEF,Advanced Data Management Systems,aeb0c,2023-07-07T09:03:32Z,viewed,Advanced Data Management Systems (THJ),http://id.tincanapi.com/activitytype/lms/course,UEF Moodle,NaN,False,False
...,...,...,...,...,...,...,...,...,...,...,...
306723,BMU,Computer Networks,87441,2023-06-11T22:57:27Z,answered,IT131-T05-Pitanje 13,http://adlnet.gov/expapi/activities/cmi.intera...,LAMS > test > Pitanje 13 > Attempt,1.000,True,True
306724,BMU,Computer Networks,1c33c,2023-05-16T00:05:45Z,answered,IT131-T03-Pitanje 15,http://adlnet.gov/expapi/activities/cmi.intera...,LAMS > test > Pitanje 15 > Attempt,0.000,False,True
306730,BMU,Computer Networks,98607,2023-05-12T22:10:50Z,completed,IT131-T03,http://adlnet.gov/expapi/activities/assessment,LAMS > test,0.375,True,True
306734,BMU,Computer Networks,98607,2023-02-27T22:45:33Z,completed,Lekcija 2 - Osnove umrežavanja - Tradicionalna...,http://id.tincanapi.com/activitytype/lms/module,LAMS > 217371,NaN,False,False
306739,BMU,Computer Networks,00c5e,2023-06-01T21:23:16Z,answered,IT131-T04-Pitanje 20,http://adlnet.gov/expapi/activities/cmi.intera...,LAMS > test > Pitanje 20 > Attempt,0.000,False,True

## Add teaching type column

Specify "Project-based" / "Flipped classroom" teaching style

In [22]:
def get_teaching_type(course_name):
    if course_name in ['Computer Networks',
                       'Advanced Data Management Systems',
                        'e-Learning',
                        'Computer Architecture']:
        return 'Flipped classroom'
    else:
        return 'Project-based'

In [23]:
df['Teaching'] = df['Course'].apply(get_teaching_type)

In [24]:
df

,Institution,Course,actor.id,timestamp,verb.id,object.definition.name,object.definition.type,context,result.score.scaled,result.success,result.completion,Teaching
0,UEF,Advanced Data Management Systems,aeb0c,2023-07-07T18:55:47Z,viewed,Advanced Data Management Systems (THJ),http://id.tincanapi.com/activitytype/lms/course,UEF Moodle,NaN,False,False,Flipped classroom
1,UEF,Advanced Data Management Systems,aeb0c,2023-07-07T15:21:18Z,viewed,Assignment Instructions: ER & EER,http://adlnet.gov/expapi/activities/link,UEF Moodle > Advanced Data Management Systems ...,NaN,False,False,Flipped classroom
2,UEF,Advanced Data Management Systems,aeb0c,2023-07-07T15:08:13Z,viewed,Recording: Intro lecture,http://adlnet.gov/expapi/activities/link,UEF Moodle > Advanced Data Management Systems ...,NaN,False,False,Flipped classroom
3,UEF,Advanced Data Management Systems,aeb0c,2023-07-07T15:08:10Z,viewed,Advanced Data Management Systems (THJ),http://id.tincanapi.com/activitytype/lms/course,UEF Moodle,NaN,False,False,Flipped classroom
4,UEF,Advanced Data Management Systems,aeb0c,2023-07-07T09:03:32Z,viewed,Advanced Data Management Systems (THJ),http://id.tincanapi.com/activitytype/lms/course,UEF Moodle,NaN,False,False,Flipped classroom
...,...,...,...,...,...,...,...,...,...,...,...,...
306723,BMU,Computer Networks,87441,2023-06-11T22:57:27Z,answered,IT131-T05-Pitanje 13,http://adlnet.gov/expapi/activities/cmi.intera...,LAMS > test > Pitanje 13 > Attempt,1.000,True,True,Flipped classroom
306724,BMU,Computer Networks,1c33c,2023-05-16T00:05:45Z,answered,IT131-T03-Pitanje 15,http://adlnet.gov/expapi/activities/cmi.intera...,LAMS > test > Pitanje 15 > Attempt,0.000,False,True,Flipped classroom
306730,BMU,Computer Networks,98607,2023-05-12T22:10:50Z,completed,IT131-T03,http://adlnet.gov/expapi/activities/assessment,LAMS > test,0.375,True,True,Flipped classroom
306734,BMU,Computer Networks,98607,2023-02-27T22:45:33Z,completed,Lekcija 2 - Osnove umrežavanja - Tradicionalna...,http://id.tincanapi.com/activitytype/lms/module,LAMS > 217371,NaN,False,False,Flipped classroom
306739,BMU,Computer Networks,00c5e,2023-06-01T21:23:16Z,answered,IT131-T04-Pitanje 20,http://adlnet.gov/expapi/activities/cmi.intera...,LAMS > test > Pitanje 20 > Attempt,0.000,False,True,Flipped classroom

In [25]:
df['Teaching'].value_counts()

Teaching
Project-based        176591
Flipped classroom    122700
Name: count, dtype: int64

## Object

In [26]:
df['object.definition.type'] = df['object.definition.type'].str.split('/').str[-1]

In [27]:
df

,Institution,Course,actor.id,timestamp,verb.id,object.definition.name,object.definition.type,context,result.score.scaled,result.success,result.completion,Teaching
0,UEF,Advanced Data Management Systems,aeb0c,2023-07-07T18:55:47Z,viewed,Advanced Data Management Systems (THJ),course,UEF Moodle,NaN,False,False,Flipped classroom
1,UEF,Advanced Data Management Systems,aeb0c,2023-07-07T15:21:18Z,viewed,Assignment Instructions: ER & EER,link,UEF Moodle > Advanced Data Management Systems ...,NaN,False,False,Flipped classroom
2,UEF,Advanced Data Management Systems,aeb0c,2023-07-07T15:08:13Z,viewed,Recording: Intro lecture,link,UEF Moodle > Advanced Data Management Systems ...,NaN,False,False,Flipped classroom
3,UEF,Advanced Data Management Systems,aeb0c,2023-07-07T15:08:10Z,viewed,Advanced Data Management Systems (THJ),course,UEF Moodle,NaN,False,False,Flipped classroom
4,UEF,Advanced Data Management Systems,aeb0c,2023-07-07T09:03:32Z,viewed,Advanced Data Management Systems (THJ),course,UEF Moodle,NaN,False,False,Flipped classroom
...,...,...,...,...,...,...,...,...,...,...,...,...
306723,BMU,Computer Networks,87441,2023-06-11T22:57:27Z,answered,IT131-T05-Pitanje 13,cmi.interaction,LAMS > test > Pitanje 13 > Attempt,1.000,True,True,Flipped classroom
306724,BMU,Computer Networks,1c33c,2023-05-16T00:05:45Z,answered,IT131-T03-Pitanje 15,cmi.interaction,LAMS > test > Pitanje 15 > Attempt,0.000,False,True,Flipped classroom
306730,BMU,Computer Networks,98607,2023-05-12T22:10:50Z,completed,IT131-T03,assessment,LAMS > test,0.375,True,True,Flipped classroom
306734,BMU,Computer Networks,98607,2023-02-27T22:45:33Z,completed,Lekcija 2 - Osnove umrežavanja - Tradicionalna...,module,LAMS > 217371,NaN,False,False,Flipped classroom
306739,BMU,Computer Networks,00c5e,2023-06-01T21:23:16Z,answered,IT131-T04-Pitanje 20,cmi.interaction,LAMS > test > Pitanje 20 > Attempt,0.000,False,True,Flipped classroom

In [28]:
df['object.definition.name'].describe()

count                                      299291
unique                                       1549
top       Ihminen ja vuorovaikutteinen teknologia
freq                                        34133
Name: object.definition.name, dtype: object

In [29]:
df['object.definition.name'].value_counts(normalize=True)[:20]

object.definition.name
Ihminen ja vuorovaikutteinen teknologia                              0.114046
ARQUITECTURA DE COMPUTADORES - Graduado en Ingeniería Informática    0.100688
Attempt                                                              0.049280
Електронно обучение, летен семестър 2022/2023                        0.036353
Проектиране на човеко-машинен интерфейс, летен семестър 2022/2023    0.035253
APLICACIONES WEB - Graduado en Ingeniería Informática                0.034381
EsimerkkejÃ¤ kÃ¤ytettÃ¤vyydestÃ¤ ja kÃ¤yttÃ¤jÃ¤kokemuksesta          0.029567
RyhmÃ¤tyÃ¶alue                                                       0.029339
Advanced Data Management Systems (THJ)                               0.022363
TehtÃ¤vÃ¤ 3                                                          0.021013
TehtÃ¤vÃ¤ 13                                                         0.013261
review                                                               0.007758
Exercise 2.1. Pipelining                                             0.007314
TehtÃ¤vÃ¤ 9                                                          0.007274
Lab assignment 4 quiz                                                0.007260
TehtÃ¤vÃ¤ 8                                                          0.007200
TehtÃ¤vÃ¤ 14                                                         0.006980
3.1. Multilevel caching                                              0.006886
TehtÃ¤vÃ¤ 4                                                          0.006876
TehtÃ¤vÃ¤ 12                                                         0.006218
Name: proportion, dtype: float64

A lot of the data is just the course name. Let's explore 'Attempt'.

In [76]:
df[df['object.definition.name'] == 'Attempt'][['object.definition.name', 'object.definition.type']].drop_duplicates()

    object.definition.name object.definition.type
904                Attempt                attempt

In [30]:
df.drop(columns=['object.definition.name'], axis=1, inplace=True)

## Context

In [31]:
df['context'].value_counts(normalize=True)[:20]

context
UEF Moodle > Ihminen ja vuorovaikutteinen teknologia                                                                                                            0.153296
UEF Moodle                                                                                                                                                      0.136409
New Site                                                                                                                                                        0.135069
New Site > ARQUITECTURA DE COMPUTADORES - Graduado en Ingeniería Informática                                                                                    0.091302
ILEDA Project                                                                                                                                                   0.071606
UEF Moodle > Ihminen ja vuorovaikutteinen teknologia > RyhmÃ¤tyÃ¶alue                                                                                           0.069598
ILEDA Project > Електронно обучение, летен семестър 2022/2023                                                                                                   0.036610
New Site > APLICACIONES WEB - Graduado en Ingeniería Informática                                                                                                0.034391
UEF Moodle > Advanced Data Management Systems (THJ)                                                                                                             0.023452
UEF Moodle > Ihminen ja vuorovaikutteinen teknologia > TehtÃ¤vÃ¤ 9                                                                                              0.022229
UEF Moodle > Ihminen ja vuorovaikutteinen teknologia > TehtÃ¤vÃ¤ 9 > Attempt                                                                                    0.020802
ILEDA Project > Проектиране на човеко-машинен интерфейс, летен семестър 2022/2023                                                                               0.017301
UEF Moodle > Ihminen ja vuorovaikutteinen teknologia > TehtÃ¤vÃ¤ 14                                                                                             0.015196
UEF Moodle > Ihminen ja vuorovaikutteinen teknologia > TehtÃ¤vÃ¤ 14 > Attempt                                                                                   0.011761
UEF Moodle > Ihminen ja vuorovaikutteinen teknologia > TehtÃ¤vÃ¤ 4 > Attempt                                                                                    0.007471
UEF Moodle > Ihminen ja vuorovaikutteinen teknologia > TehtÃ¤vÃ¤ 12 > Attempt                                                                                   0.007237
New Site > ARQUITECTURA DE COMPUTADORES - Graduado en Ingeniería Informática > Exercise 1.1- Comparing Computer Performance (deadline: 21.04.2023) > Attempt    0.006315
ILEDA Project > Електронно обучение, летен семестър 2022/2023 > Тест за установяване на предварителното запознаване с материалите за седмицата > Attempt        0.006034
UEF Moodle > Ihminen ja vuorovaikutteinen teknologia > Uutiset                                                                                                  0.005931
New Site > ARQUITECTURA DE COMPUTADORES - Graduado en Ingeniería Informática > Exercise 1.2- CPU Performance Equation (deadline: 21.04.2023) > Attempt          0.005570
Name: proportion, dtype: float64

The column mostly gives information about the institution / course.

In [32]:
df.drop(columns=['context'], axis=1, inplace=True)

## Result

In [33]:
df['result.score.scaled'].describe()

count    11558.00000
mean         0.78472
std          0.35866
min          0.00000
25%          0.70000
50%          1.00000
75%          1.00000
max          1.00000
Name: result.score.scaled, dtype: float64

In [34]:
df[~df['result.score.scaled'].isna()]['verb.id'].value_counts()

verb.id
completed    4309
scored       4235
answered     3014
Name: count, dtype: int64

In [35]:
df['result.success'].value_counts()

result.success
False    266458
True      32833
Name: count, dtype: int64

In [36]:
df[df['result.success'] == True]

,Institution,Course,actor.id,timestamp,verb.id,object.definition.type,result.score.scaled,result.success,result.completion,Teaching
74,UEF,Advanced Data Management Systems,6ddcf,2023-06-22T10:43:35Z,scored,assessment,0.600,True,True,Flipped classroom
96,UEF,Advanced Data Management Systems,7f252,2023-06-21T20:54:34Z,scored,assessment,0.950,True,True,Flipped classroom
97,UEF,Advanced Data Management Systems,710d9,2023-06-21T20:53:15Z,scored,assessment,1.000,True,True,Flipped classroom
98,UEF,Advanced Data Management Systems,5df80,2023-06-21T20:52:48Z,scored,assessment,0.950,True,True,Flipped classroom
99,UEF,Advanced Data Management Systems,94c89,2023-06-21T20:51:49Z,scored,assessment,1.000,True,True,Flipped classroom
...,...,...,...,...,...,...,...,...,...,...
306703,BMU,Computer Networks,60c08,2023-06-01T16:28:45Z,answered,cmi.interaction,1.000,True,True,Flipped classroom
306707,BMU,Computer Networks,a0b51,2023-05-15T23:59:05Z,answered,cmi.interaction,1.000,True,True,Flipped classroom
306715,BMU,Computer Networks,dfea0,2023-05-20T17:33:16Z,answered,cmi.interaction,1.000,True,True,Flipped classroom
306723,BMU,Computer Networks,87441,2023-06-11T22:57:27Z,answered,cmi.interaction,1.000,True,True,Flipped classroom
306730,BMU,Computer Networks,98607,2023-05-12T22:10:50Z,completed,assessment,0.375,True,True,Flipped classroom

In [37]:
df[df['result.success'] == True]['verb.id'].value_counts()

verb.id
answered     24305
completed     4301
scored        4227
Name: count, dtype: int64

In [38]:
df[df['result.success'] == True]['object.definition.type'].value_counts()

object.definition.type
cmi.interaction    24305
assessment          6735
quiz                1793
Name: count, dtype: int64

In [39]:
df['result.completion'].value_counts()

result.completion
False    257343
True      41948
Name: count, dtype: int64

In [40]:
df[df['result.completion'] == True]

,Institution,Course,actor.id,timestamp,verb.id,object.definition.type,result.score.scaled,result.success,result.completion,Teaching
74,UEF,Advanced Data Management Systems,6ddcf,2023-06-22T10:43:35Z,scored,assessment,0.600,True,True,Flipped classroom
96,UEF,Advanced Data Management Systems,7f252,2023-06-21T20:54:34Z,scored,assessment,0.950,True,True,Flipped classroom
97,UEF,Advanced Data Management Systems,710d9,2023-06-21T20:53:15Z,scored,assessment,1.000,True,True,Flipped classroom
98,UEF,Advanced Data Management Systems,5df80,2023-06-21T20:52:48Z,scored,assessment,0.950,True,True,Flipped classroom
99,UEF,Advanced Data Management Systems,94c89,2023-06-21T20:51:49Z,scored,assessment,1.000,True,True,Flipped classroom
...,...,...,...,...,...,...,...,...,...,...
306718,BMU,Computer Networks,98607,2023-05-12T22:10:50Z,answered,cmi.interaction,0.000,False,True,Flipped classroom
306723,BMU,Computer Networks,87441,2023-06-11T22:57:27Z,answered,cmi.interaction,1.000,True,True,Flipped classroom
306724,BMU,Computer Networks,1c33c,2023-05-16T00:05:45Z,answered,cmi.interaction,0.000,False,True,Flipped classroom
306730,BMU,Computer Networks,98607,2023-05-12T22:10:50Z,completed,assessment,0.375,True,True,Flipped classroom
306739,BMU,Computer Networks,00c5e,2023-06-01T21:23:16Z,answered,cmi.interaction,0.000,False,True,Flipped classroom

In [41]:
df[df['result.completion'] == True]['object.definition.type'].value_counts()

object.definition.type
cmi.interaction    33409
assessment          6744
quiz                1795
Name: count, dtype: int64

## Timestamp

In [42]:
df['timestamp']

0         2023-07-07T18:55:47Z
1         2023-07-07T15:21:18Z
2         2023-07-07T15:08:13Z
3         2023-07-07T15:08:10Z
4         2023-07-07T09:03:32Z
                  ...
306723    2023-06-11T22:57:27Z
306724    2023-05-16T00:05:45Z
306730    2023-05-12T22:10:50Z
306734    2023-02-27T22:45:33Z
306739    2023-06-01T21:23:16Z
Name: timestamp, Length: 299291, dtype: object

In [45]:
def extract_from_date(timestamp):
        return (datetime.fromisoformat(timestamp[:-1]).year,
                datetime.fromisoformat(timestamp[:-1]).month,
                datetime.fromisoformat(timestamp[:-1]).day,
                datetime.fromisoformat(timestamp[:-1]).hour,
                datetime.fromisoformat(timestamp[:-1]).minute,
                datetime.fromisoformat(timestamp[:-1]).second)

In [47]:
def to_timestamp(tup):
    return pd.Timestamp(year=tup[0],
                        month=tup[1],
                        day=tup[2],
                        hour=tup[3],
                        minute=tup[4],
                        second=tup[5])

In [49]:
df['timestamp'] = df['timestamp'].apply(extract_from_date).apply(to_timestamp)

In [51]:
df

,Institution,Course,actor.id,timestamp,verb.id,object.definition.type,result.score.scaled,result.success,result.completion,Teaching
0,UEF,Advanced Data Management Systems,aeb0c,2023-07-07 18:55:47,viewed,course,NaN,False,False,Flipped classroom
1,UEF,Advanced Data Management Systems,aeb0c,2023-07-07 15:21:18,viewed,link,NaN,False,False,Flipped classroom
2,UEF,Advanced Data Management Systems,aeb0c,2023-07-07 15:08:13,viewed,link,NaN,False,False,Flipped classroom
3,UEF,Advanced Data Management Systems,aeb0c,2023-07-07 15:08:10,viewed,course,NaN,False,False,Flipped classroom
4,UEF,Advanced Data Management Systems,aeb0c,2023-07-07 09:03:32,viewed,course,NaN,False,False,Flipped classroom
...,...,...,...,...,...,...,...,...,...,...
306723,BMU,Computer Networks,87441,2023-06-11 22:57:27,answered,cmi.interaction,1.000,True,True,Flipped classroom
306724,BMU,Computer Networks,1c33c,2023-05-16 00:05:45,answered,cmi.interaction,0.000,False,True,Flipped classroom
306730,BMU,Computer Networks,98607,2023-05-12 22:10:50,completed,assessment,0.375,True,True,Flipped classroom
306734,BMU,Computer Networks,98607,2023-02-27 22:45:33,completed,module,NaN,False,False,Flipped classroom
306739,BMU,Computer Networks,00c5e,2023-06-01 21:23:16,answered,cmi.interaction,0.000,False,True,Flipped classroom

## Actors

In [53]:
df['actor.id'].describe()

count     299291
unique       829
top        76d01
freq        6255
Name: actor.id, dtype: object

In [54]:
df['actor.id'].value_counts(normalize=True)

actor.id
76d01    0.020899
f231a    0.009623
d0853    0.007047
4722b    0.005830
d88b8    0.005700
           ...
cd331    0.000003
47d0e    0.000003
7dd01    0.000003
297c3    0.000003
1ad31    0.000003
Name: proportion, Length: 829, dtype: float64

In [56]:
df['actor.id'] = pd.factorize(df['actor.id'])[0]

In [58]:
df

,Institution,Course,actor.id,timestamp,verb.id,object.definition.type,result.score.scaled,result.success,result.completion,Teaching
0,UEF,Advanced Data Management Systems,0,2023-07-07 18:55:47,viewed,course,NaN,False,False,Flipped classroom
1,UEF,Advanced Data Management Systems,0,2023-07-07 15:21:18,viewed,link,NaN,False,False,Flipped classroom
2,UEF,Advanced Data Management Systems,0,2023-07-07 15:08:13,viewed,link,NaN,False,False,Flipped classroom
3,UEF,Advanced Data Management Systems,0,2023-07-07 15:08:10,viewed,course,NaN,False,False,Flipped classroom
4,UEF,Advanced Data Management Systems,0,2023-07-07 09:03:32,viewed,course,NaN,False,False,Flipped classroom
...,...,...,...,...,...,...,...,...,...,...
306723,BMU,Computer Networks,820,2023-06-11 22:57:27,answered,cmi.interaction,1.000,True,True,Flipped classroom
306724,BMU,Computer Networks,799,2023-05-16 00:05:45,answered,cmi.interaction,0.000,False,True,Flipped classroom
306730,BMU,Computer Networks,788,2023-05-12 22:10:50,completed,assessment,0.375,True,True,Flipped classroom
306734,BMU,Computer Networks,788,2023-02-27 22:45:33,completed,module,NaN,False,False,Flipped classroom
306739,BMU,Computer Networks,810,2023-06-01 21:23:16,answered,cmi.interaction,0.000,False,True,Flipped classroom

In [59]:
df['actor.id'].value_counts(normalize=True)

actor.id
566    0.020899
87     0.009623
348    0.007047
605    0.005830
548    0.005700
         ...
540    0.000003
541    0.000003
542    0.000003
543    0.000003
708    0.000003
Name: proportion, Length: 829, dtype: float64

In [60]:
df.to_csv('../data/processed.csv', index=False)